# Assignment 2: Sequence to Sequence Natural Language to SQL

Lucas Ortiz Duhart
lo21410

## Imports

In [176]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from keras.models import Model
from keras.layers import Input, LSTM,   Dense

## Data Preprocessing

In [2]:
df = pd.read_json('https://raw.githubusercontent.com/Lucothron/CE888-DataScience/main/CE888-master/CE888-master/Assignment%202/train_spider.json')

df.shape

(7000, 7)

In [3]:
df.head()

,db_id,query,query_toks,query_toks_no_value,question,question_toks,sql
0,department_management,SELECT count(*) FROM head WHERE age > 56,"[SELECT, count, (, *, ), FROM, head, WHERE, ag...","[select, count, (, *, ), from, head, where, ag...",How many heads of the departments are older th...,"[How, many, heads, of, the, departments, are, ...","{'from': {'table_units': [['table_unit', 1]], ..."
1,department_management,"SELECT name , born_state , age FROM head ORD...","[SELECT, name, ,, born_state, ,, age, FROM, he...","[select, name, ,, born_state, ,, age, from, he...","List the name, born state and age of the heads...","[List, the, name, ,, born, state, and, age, of...","{'from': {'table_units': [['table_unit', 1]], ..."
2,department_management,"SELECT creation , name , budget_in_billions ...","[SELECT, creation, ,, name, ,, budget_in_billi...","[select, creation, ,, name, ,, budget_in_billi...","List the creation year, name and budget of eac...","[List, the, creation, year, ,, name, and, budg...","{'from': {'table_units': [['table_unit', 0]], ..."
3,department_management,"SELECT max(budget_in_billions) , min(budget_i...","[SELECT, max, (, budget_in_billions, ), ,, min...","[select, max, (, budget_in_billions, ), ,, min...",What are the maximum and minimum budget of the...,"[What, are, the, maximum, and, minimum, budget...","{'from': {'table_units': [['table_unit', 0]], ..."
4,department_management,SELECT avg(num_employees) FROM department WHER...,"[SELECT, avg, (, num_employees, ), FROM, depar...","[select, avg, (, num_employees, ), from, depar...",What is the average number of employees of the...,"[What, is, the, average, number, of, employees...","{'from': {'table_units': [['table_unit', 0]], ..."

In [4]:
# Select only queries that include 'avg', 'min', 'max', or 'count' as they are more mathematically inclined

count = 0
data = []
for row in df.itertuples(index = False):
  if 'avg' in row[3] or 'min' in row[3] or 'max' in row[3] or 'count' in row[3]:
    count += 1
    data.append(row)
    #print(row[3])

df_new = pd.DataFrame(data)
df_clean = df_new.drop(['db_id', 'query_toks', 'query_toks_no_value', 'question_toks', 'sql'], axis = 1)

num_pairs = df_clean.shape[0]

df_clean.head()

,query,question
0,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...
1,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...
2,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...
3,SELECT born_state FROM head GROUP BY born_stat...,What are the names of the states where at leas...
4,SELECT creation FROM department GROUP BY creat...,In which year were most departments established?

In [5]:
cont = 0

new_data = []
for index, value in df_clean['query'].items():
  new_val = '$ ' + value + ' @'
  new_data.append(new_val)

start_end_data = pd.Series(new_data)
df_start_end = df_clean.assign(query_chars = start_end_data)

In [6]:
df_chars = df_start_end.drop(['query'], axis=1)

df_chars.head()

,question,query_chars
0,How many heads of the departments are older th...,$ SELECT count(*) FROM head WHERE age > 56 @
1,What are the maximum and minimum budget of the...,"$ SELECT max(budget_in_billions) , min(budget..."
2,What is the average number of employees of the...,$ SELECT avg(num_employees) FROM department WH...
3,What are the names of the states where at leas...,$ SELECT born_state FROM head GROUP BY born_st...
4,In which year were most departments established?,$ SELECT creation FROM department GROUP BY cre...

In [14]:
def numChars(data):
  chars = []
  charCount = 0

  for index, line in data.items():
    for char in line:
      if char not in chars:
        chars.append(char)
        charCount += 1

  return charCount, chars

def maxLength(data):
  max = 0

  for index, line in data.items():
    temp = len(line)
    if temp > max:
      max = temp
  
  return max

In [9]:
num_eng_char, input_chars = numChars(df_chars['question'])
num_sql_char, target_chars = numChars(df_chars['query_chars'])

max_eng_sent = maxLength(df_chars['question'])
max_sql_sent = maxLength(df_chars['query_chars'])

print(num_pairs, max_eng_sent, num_eng_char)
print(num_pairs, max_sql_sent, num_sql_char)

3059 224 73
3059 406 84

In [10]:
inp_token_index = dict([(char, i) for i, char in enumerate(input_chars)])
target_token_index = dict([(char, i) for i, char in enumerate(target_chars)])

In [169]:
encode_inp_data = np.zeros(
    (num_pairs, max_eng_sent, num_eng_char), dtype='float32')
decode_inp_data = np.zeros(
    (num_pairs, max_sql_sent, num_sql_char), dtype='float32')
decode_target_data = np.zeros(
    (num_pairs, max_sql_sent, num_sql_char), dtype='float32')

In [170]:
df_chars.head()

,question,query_chars
0,How many heads of the departments are older th...,$ SELECT count(*) FROM head WHERE age > 56 @
1,What are the maximum and minimum budget of the...,"$ SELECT max(budget_in_billions) , min(budget..."
2,What is the average number of employees of the...,$ SELECT avg(num_employees) FROM department WH...
3,What are the names of the states where at leas...,$ SELECT born_state FROM head GROUP BY born_st...
4,In which year were most departments established?,$ SELECT creation FROM department GROUP BY cre...

In [172]:
i = 0

for inp_text, target_text in df_chars.itertuples(index = False):
  for t, char in enumerate(inp_text):
    encode_inp_data[i, t, inp_token_index[char]] = 1.0
  encode_inp_data[i, t + 1 :, inp_token_index[' ']] = 1.0
  for t, char in enumerate(target_text):
    decode_inp_data[i, t, target_token_index[char]] = 1.0
    if t > 0:
      decode_target_data[i, t, target_token_index[char]] = 1.0
    decode_inp_data[i, t + 1 :, target_token_index[' ']] = 1.0
    decode_target_data[i, t:, target_token_index[' ']] = 1.0
  i += 1

  if cont > 5:
    break

In [185]:
encoder_inputs = keras.Input(shape=(None, num_eng_char))
encoder = keras.layers.LSTM(84, return_state = True)
encoder_out, state_h, state_c = encoder(encoder_inputs)

encoder_states = [state_h, state_c]

decoder_inputs = keras.Input(shape=(None, num_sql_char))

decoder_lstm = keras.layers.LSTM(84, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(decoder_inputs, initial_state=encoder_states)
decoder_dense = keras.layers.Dense(num_sql_char, activation='softmax')
decoder_ouputs = decoder_dense(decoder_outputs)

model = keras.Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [186]:
model.compile(
    optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy']
)

model.fit(
    [encode_inp_data, decode_inp_data],
    decode_target_data,
    batch_size=64,
    epochs=10,
    validation_split=0.2
)

model.save('s2s')

Epoch 1/10
39/39 [==============================] - 31s 679ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 2/10
39/39 [==============================] - 25s 642ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 3/10
39/39 [==============================] - 25s 632ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 4/10
39/39 [==============================] - 25s 637ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 5/10
39/39 [==============================] - 25s 640ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 6/10
39/39 [==============================] - 25s 644ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 7/10
39/39 [==============================] - 25s 641ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 8/10
39/39 [==============================] - 25s 638ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 9/10
39/39 [==============================] - 25s 634ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000
Epoch 10/10
39/39 [==============================] - 25s 643ms/step - loss: nan - accuracy: 0.9996 - val_loss: nan - val_accuracy: 1.0000

WARNING:absl:Found untraced functions such as lstm_cell_8_layer_call_fn, lstm_cell_8_layer_call_and_return_conditional_losses, lstm_cell_9_layer_call_fn, lstm_cell_9_layer_call_and_return_conditional_losses while saving (showing 4 of 4). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: s2s/assets

INFO:tensorflow:Assets written to: s2s/assets
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7ff6649b1150> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7ff66498a990> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.